@using System.Reflection
@attribute [Route(ClientRoutes.About)]
@inject ILogger<About> Logger
@inject ISnackbar Snackbar

<PageTitle>About</PageTitle>

<PrimaryTitle>
  About
</PrimaryTitle>

<div class="about-grid">
  <div>
    <MudText Color="Color.Primary">
      Version:
    </MudText>
  </div>
  <div class="d-flex align-start">
    <MudText>
      @(_currentVersion)
    </MudText>
  </div>

  <div>
    <MudText Color="Color.Primary">
      License:
    </MudText>
  </div>
  <div>
    <MudLink Color="Color.Info" Href="https://github.com/bitbound/ControlR/blob/main/LICENSE.txt" Target="_blank">
      MIT License
    </MudLink>
  </div>

  <div>
    <MudText Color="Color.Primary">
      Project:
    </MudText>
  </div>
  <div>
    <MudLink Color="Color.Info" Href="https://github.com/bitbound/controlr" Target="_blank">
      https://github.com/bitbound/controlr
    </MudLink>
  </div>

  <div>
    <MudText Color="Color.Primary">
      Website:
    </MudText>
  </div>
  <div>
    <MudLink Color="Color.Info" Href="https://controlr.app" Target="_blank">
      https://controlr.app
    </MudLink>
  </div>

  <div>
    <MudText Color="Color.Primary">
      Sponsor:
    </MudText>
  </div>
  <div>
    <MudText Class="mb-2">
      ControlR is free, open-source, self-hostable, and powered by donations.
    </MudText>
    <MudButton Href="https://github.com/sponsors/bitbound" Target="_blank" Variant="Variant.Text"
               StartIcon="@Icons.Material.Filled.Favorite" Color="Color.Error" Class="external-link">
      Sponsor Project
    </MudButton>
  </div>


  <div>
    <MudText Color="Color.Primary">
      Third-Party Licenses:
    </MudText>
  </div>

  <div>
    <div class="mb-4">
      <MudText GutterBottom>
        ControlR uses the following open-source software and libraries.
      </MudText>
    </div>

    <MudText Class="mb-2">
      MudBlazor
      <MudLink Color="Color.Info" Href="https://github.com/MudBlazor/MudBlazor" Class="ms-4 me-2">source</MudLink>
      <MudLink Color="Color.Info" Href="https://github.com/MudBlazor/MudBlazor/blob/dev/LICENSE">license</MudLink>
    </MudText>
    <MudText Class="mb-2">
      Avalonia UI
      <MudLink Color="Color.Info" Href="https://github.com/AvaloniaUI/Avalonia" Class="ms-4 me-2">source</MudLink>
      <MudLink Color="Color.Info" Href="https://github.com/AvaloniaUI/Avalonia/blob/master/licence.md">license</MudLink>
    </MudText>
    <MudText Class="mb-2">
      Serilog
      <MudLink Color="Color.Info" Href="https://github.com/serilog/serilog" Class="ms-4 me-2">source</MudLink>
      <MudLink Color="Color.Info" Href="https://github.com/serilog/serilog/blob/dev/LICENSE">license</MudLink>
    </MudText>
    <MudText Class="mb-2">
      OpenTelemetry
      <MudLink Color="Color.Info" Href="https://github.com/open-telemetry/opentelemetry-dotnet" Class="ms-4 me-2">source</MudLink>
      <MudLink Color="Color.Info" Href="https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/LICENSE.TXT">license</MudLink>
    </MudText>
    <MudText Class="mb-2">
      Tmds.DBus
      <MudLink Color="Color.Info" Href="https://github.com/tmds/Tmds.DBus">source</MudLink>
      <MudLink Color="Color.Info" Href="https://github.com/tmds/Tmds.DBus/blob/main/COPYING">license</MudLink>
    </MudText>
    <MudText Class="mb-2">
      Microsoft Libraries
      <MudLink Color="Color.Info" Href="https://github.com/microsoft" Class="ms-4 me-2">source</MudLink>
    </MudText>
  </div>

</div>

@code {
  private Version? _currentVersion = null;

  protected override async Task OnInitializedAsync()
  {
    await Init();

    await base.OnInitializedAsync();
  }

  private Task Init()
  {
    try
    {
      _currentVersion = Assembly.GetExecutingAssembly().GetName().Version ?? new(0, 1);
    }
    catch (Exception ex)
    {
      Logger.LogError(ex, "Error determining version.");
      Snackbar.Add("Error determining version.", Severity.Error);
    }
    return Task.CompletedTask;
  }
}
