.about-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    row-gap: 20px;
}

.licenses-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    row-gap: 10px;
}