@attribute [Route(RouteNames.Home)]

<PageTitle>Home</PageTitle>

<AuthorizeView>
  <Authorized>
    <Dashboard />
  </Authorized>
  <NotAuthorized>
    <h1>
      Not Authorized
    </h1>
  </NotAuthorized>
</AuthorizeView>

