@page "/about"
@inject IVersionTracking VersionTracking
@inject IVersionApi VersionApi
@inject ILogger<About> Logger
@inject ISnackbar Snackbar
@inject IEnvironmentHelper EnvironmentHelper
@inject IUpdateManager UpdateManager
@inject ISettings Settings
@inject IDialogService Dialogs
@inject IStoreIntegration StoreIntegration
@inject IAppState AppState
@inject IBrowser Browser
@inject IDelayer Delayer

<PageTitle>About</PageTitle>

<MudText Typo="Typo.h4" Color="Color.Primary" GutterBottom>
    About
</MudText>


<div class="about-grid">
    <div>
        <MudText Color="Color.Primary">
            Version:
        </MudText>
    </div>
    <div class="d-flex align-start">
        <MudText>
            @(VersionTracking.CurrentVersion)
        </MudText>

        @if (_updateAvailable)
        {
            <MudLink Target="_blank" Typo="Typo.caption" Class="ms-3" Color="Color.Info" OnClick="DownloadUpdate">
                Download Update
            </MudLink>
        }

    </div>

    <div>
        <MudText Color="Color.Primary">
            License:
        </MudText>
    </div>
    <div>
        <MudLink Color="Color.Info" Href="https://github.com/bitbound/ControlR/blob/main/LICENSE.txt" Target="_blank">
            GNU General Public License v3.0
        </MudLink>
    </div>

    <div>
        <MudText Color="Color.Primary">
            Project:
        </MudText>
    </div>
    <div>
        <MudLink Color="Color.Info" Href="https://github.com/bitbound/controlr" Target="_blank">
            https://github.com/bitbound/controlr
        </MudLink>
    </div>

    <div>
        <MudText Color="Color.Primary">
            Website:
        </MudText>
    </div>
    <div>
        <MudLink Color="Color.Info" Href="https://controlr.app" Target="_blank">
            https://controlr.app
        </MudLink>
    </div>

    @if (_storePageUri is not null)
    {
        <div>
            <MudText Color="Color.Primary">
                Store Page:
            </MudText>
        </div>
        <div>
            <MudLink Color="Color.Info" Href="@(_storePageUri.ToString())" Target="_blank">
                @_storePageLinkText
            </MudLink>
        </div>
    }

    <div>
        <MudText Color="Color.Primary">
            Licenses:
        </MudText>
    </div>

    <div>
        <div class="mb-4">
            <MudText GutterBottom>
                ControlR uses the following open-source software and libraries.
            </MudText>
        </div>

        <MudText Class="mb-2">
            MudBlazor
            <MudLink Color="Color.Info" Href="https://github.com/MudBlazor/MudBlazor" Class="ms-4 me-2">source</MudLink>
            <MudLink Color="Color.Info" Href="https://github.com/MudBlazor/MudBlazor/blob/dev/LICENSE">license</MudLink>
        </MudText>

        <MudText Class="mb-2">
            Electron
            <MudLink Color="Color.Info" Href="https://github.com/electron/electron/" Class="ms-4 me-2">source</MudLink>
            <MudLink Color="Color.Info" Href="https://github.com/electron/electron/blob/main/LICENSE">license</MudLink>
        </MudText>
        <MudText Class="mb-2">
            Various Microsoft Libraries
            <MudLink Color="Color.Info" Href="https://github.com/microsoft" Class="ms-4 me-2">source</MudLink>
        </MudText>
    </div>

    <div>
        <MudText Color="Color.Primary">
            Donate:
        </MudText>
    </div>
    <div>
        <MudText Class="mb-2">
            ControlR is free, open-source, self-hostable, and powered by donations.
        </MudText>
        <MudText>
             Sponsor the work here:
            <MudLink Color="Color.Info" Href="https://github.com/sponsors/bitbound">GitHub Sponsors</MudLink>
        </MudText>
    </div>
</div>

@code {
    private bool _updateAvailable;
    private Uri? _storePageUri;
    private string _storePageLinkText = "Open External";


    protected override async Task OnInitializedAsync()
    {
        if (OperatingSystem.IsWindows())
        {
            _storePageLinkText = "Microsoft Store";
        }

        if (OperatingSystem.IsAndroid())
        {
            _storePageLinkText = "Play Store";
        }

        await Init();

        await base.OnInitializedAsync();
    }

    private async Task DownloadUpdate()
    {
        try
        {
            Snackbar.Add("Downloading update", Severity.Info);
            var installResult = await UpdateManager.InstallCurrentVersion();
            if (!installResult.IsSuccess)
            {
                Snackbar.Add(installResult.Reason, Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error while installing update.");
            Snackbar.Add("Failed to install update", Severity.Error);
        }
    }

    private async Task Init()
    {
        try
        {
            _storePageUri = await StoreIntegration.GetStorePageUri();
            var checkResult = await UpdateManager.CheckForUpdate();
            if (!checkResult.IsSuccess)
            {
                Snackbar.Add("Failed to check for new versions", Severity.Error);
                return;
            }

            _updateAvailable = checkResult.Value;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error while getting store page URI.");
            Snackbar.Add("Failed to get store page URI.", Severity.Error);
        }
    }
}
