@page "/about"
@inject IVersionTracking VersionTracking
@inject IVersionApi VersionApi
@inject ILogger<About> Logger
@inject ISnackbar Snackbar
@inject IEnvironmentHelper EnvironmentHelper
@inject IUpdateManager UpdateManager
@inject ISettings Settings
@inject IDialogService Dialogs

<PageTitle>About</PageTitle>

<MudText Typo="Typo.h4" Color="Color.Primary" GutterBottom>
    About
</MudText>


<div class="about-grid">
    <div>
        <MudText Color="Color.Primary">
            Version:
        </MudText>
    </div>
    <div class="d-flex align-start">
        <MudText>
            @(VersionTracking.CurrentVersion)
        </MudText>

        @if (_updateAvailable)
        {
            <MudLink Href="@DownloadLink" Target="_blank" Typo="Typo.caption" Class="ms-3" Color="Color.Info">
                Download Update
            </MudLink>

            <MudLink Target="_blank" Typo="Typo.caption" Class="ms-3" Color="Color.Info" OnClick="InstallUpdate">
                Install Update
            </MudLink>
        }

    </div>

    <div>
        <MudText Color="Color.Primary">
            Open-Source:
        </MudText>
    </div>

    <div>
        <div class="mb-4">
            <MudText GutterBottom>
                ControlR uses the following open-source software.
            </MudText>
            <MudText>
                If you decide to support ControlR, please consider supporting these projects too!
            </MudText>
        </div>

        <MudText Class="mb-2">
            MudBlazor
            <MudLink Href="https://github.com/MudBlazor/MudBlazor" Class="ms-4 me-2">source</MudLink>
            <MudLink Href="https://github.com/MudBlazor/MudBlazor/blob/dev/LICENSE">license</MudLink>
        </MudText>
        <MudText Class="mb-2">
            nut.js
            <MudLink Href="https://github.com/nut-tree/nut.js" Class="ms-4 me-2">source</MudLink>
            <MudLink Href="https://github.com/nut-tree/nut.js/blob/develop/core/nut.js/LICENSE">license</MudLink>
        </MudText>
    </div>
</div>

@code {
    private bool _updateAvailable;

    private string DownloadLink
    {
        get => Settings.ViewerDownloadUri;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var checkResult = await UpdateManager.CheckForUpdate();
        if (!checkResult.IsSuccess)
        {
            Snackbar.Add("Failed to check for new versions", Severity.Error);
            return;
        }

        _updateAvailable = checkResult.Value;
    }

    private async Task InstallUpdate()
    {
        Snackbar.Add("Downloading update", Severity.Info);
        var installResult = await UpdateManager.InstallCurrentVersion();
        if (!installResult.IsSuccess)
        {
            Snackbar.Add(installResult.Reason, Severity.Error);
        }
        else
        {
            Snackbar.Add("Launching installer", Severity.Success);
        }
    }
}
