@page "/server-admin"
@inject IMessenger Messenger;
@inject IViewerHubConnection ViewerHub;
@inject ISnackbar Snackbar;
@inject ILogger<ServerAdmin> Logger;

<PageTitle>Server Administration</PageTitle>

<MudText Typo="Typo.h4" Color="Color.Primary" GutterBottom>
    Server Administration
</MudText>

<div class="mt-10">
    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
        Server Stats
    </MudText>

    <div class="d-flex gap-4">
        <MudCard>
            <MudCardHeader Class="pa-2">
                Agent Count
            </MudCardHeader>
            <MudCardContent Class="pa-2">
                <MudText Align="Align.Center">
                    <b>
                        @(_serverStats?.AgentCount ?? 0)
                    </b>
                </MudText>
            </MudCardContent>
        </MudCard>
        <MudCard>
            <MudCardHeader Class="pa-2">
                Viewer Count
            </MudCardHeader>
            <MudCardContent Class="pa-2">
                <MudText Align="Align.Center">
                    <b>
                        @(_serverStats?.ViewerCount ?? 0)
                    </b>
                </MudText>
            </MudCardContent>
        </MudCard>
    </div>

</div>

<div class="mt-10">
    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
        Broadcast Alert
    </MudText>
    <MudText Typo="Typo.body1">
        Broadcast a message that will be displayed to all viewers.
    </MudText>

    <MudText Typo="Typo.subtitle2" Color="Color.Info" Class="mt-4">
        Message
    </MudText>
    <MudTextField T="string" @bind-Value="_alertMessage" Label="The text that will be displayed in the alert." />

    <MudText Typo="Typo.subtitle2" Color="Color.Info" Class="mt-4">
        Severity
    </MudText>
    <MudSelect 
        @bind-Value="_alertSeverity" 
        FullWidth="false"
        Label="The severity (icon and color) to use for the alert.">
        @foreach (var severity in Enum.GetValues<AlertSeverity>())
        {
            <MudSelectItem @key=@(severity) Value="@severity">
                @severity
            </MudSelectItem>
        }
    </MudSelect>

    <div class="d-flex mt-2">
        <MudButton ButtonType="ButtonType.Button" Color="Color.Info" Variant="Variant.Filled" Class="me-3" OnClick="SendBroadcast">
            Send
        </MudButton>
        <MudButton ButtonType="ButtonType.Button" Color="Color.Default" Variant="Variant.Filled" OnClick="ClearAlert">
            Clear
        </MudButton>
    </div>

</div>

@code {
    private ServerStatsDto? _serverStats;
    private string _alertMessage = string.Empty;
    private AlertSeverity _alertSeverity = AlertSeverity.Information;

    protected override async Task OnInitializedAsync()
    {
        var result = await ViewerHub.GetCurrentAlertFromServer();
        if (result.IsSuccess)
        {
            _alertMessage = result.Value.Message;
            _alertSeverity = result.Value.Severity;
        }

        await base.OnInitializedAsync();

        Messenger.Register<ServerStatsUpdateMessage>(
            this,
            async (subscriber, update) =>
            {
                _serverStats = update.ServerStats;
                await InvokeAsync(StateHasChanged);
            }
        );

        await RefreshServerStats();
    }

    private async Task ClearAlert()
    {
        try
        {
            await ViewerHub.ClearAlert();
            Snackbar.Add("Alert cleared on the server", Severity.Success);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error while clearing alert on the server.");
            Snackbar.Add("Failed to clear the alert");
        }
    }

    private async Task RefreshServerStats()
    {
        try
        {
            var result = await ViewerHub.GetServerStats();
            if (result.IsSuccess)
            {
                _serverStats = result.Value;
                return;
            }
            else
            {
                Logger.LogResult(result);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error while retrieving agent count from server.");
        }

        Snackbar.Add("Failed to retrieve agent count", Severity.Error);
    }

    private async Task SendBroadcast()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(_alertMessage))
            {
                Snackbar.Add("Alert message cannot be empty", Severity.Warning);
                return;
            }
            await ViewerHub.SendAlertBroadcast(_alertMessage, _alertSeverity);
            Snackbar.Add("Alert broadcasted", Severity.Success);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error while broadcasting alert");
            Snackbar.Add("Failed to broadcast alert", Severity.Error);
        }
    }
}
