@using System.Collections.Specialized
@implements IDisposable
@inject IDeviceContentWindowStore WindowStore
@inject IScreenWake ScreenWake
@inject IMessenger Messenger

<div class="device-content-window-harness">
  @foreach (var instance in ContentInstances)
  {
    <DeviceContentWindow @key=(instance.WindowId) ContentInstance="@(instance)" />
  }
</div>

@code {
  private IReadOnlyList<DeviceContentInstance> ContentInstances => WindowStore.Windows;

  public void Dispose()
  {
    if (RendererInfo.IsInteractive)
    {
      Messenger.UnregisterAll(this);
    }
  }

  protected override void OnInitialized()
  {
    if (RendererInfo.IsInteractive)
    {
      Messenger.RegisterEventMessage(this, HandleGenericMessage);
    }
    base.OnInitializedAsync();
  }

  private async void OnRemoteSessionsChanged(object? sender, NotifyCollectionChangedEventArgs e)
  {
    await InvokeAsync(StateHasChanged);
  }

  private async Task HandleGenericMessage(object subscriber, EventMessageKind messageKind)
  {
    await ScreenWake.SetScreenWakeLock(ContentInstances.Count > 0);
    
    if (messageKind == EventMessageKind.DeviceContentWindowsChanged)
    {
      await InvokeAsync(StateHasChanged);
    }
  }
}
