<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDisplayName</key>
    <string>ControlR</string>
    <key>CFBundleExecutable</key>
    <string>ControlR.DesktopClient</string>
    <key>CFBundleIdentifier</key>
    <string>app.controlr.desktop</string>
    <key>CFBundleName</key>
    <string>ControlR</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSHighResolutionCapable</key>
    <true />
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Bitbound. All rights reserved.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSRequiresAquaSystemAppearance</key>
    <false />
    <key>NSUserNotificationsUsageDescription</key>
    <string>ControlR uses notifications to inform you about remote control sessions and system events.</string>
    <key>UNUserNotificationCenterDelegate</key>
    <string>NSApplication</string>
    <key>LSUIElement</key>
    <true />
    <key>XSAppIconAssets</key>
    <string>Assets.xcassets/AppIcon.appiconset</string>
  </dict>
</plist>