.title-bar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 15px;
    background-color: rgb(25,25,25);
    align-items: center;
    white-space: nowrap;
}

.title-description {
    align-self: center;
    margin-left: 10px;
    overflow-x: auto;
}

.device-content {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: rgb(40,40,40);
}

    .device-content.restored {
        position: fixed;
        left: 10vw;
        top: 10vh;
        width: 80vw;
        height: 80vh;
        resize: both;
        border: 2px solid gray;
    }

    .device-content.maximized {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid gray;
    }

    .device-content.minimized {
        border: 1px solid gray;
        max-width: 400px;
    }

        .device-content.minimized .content-area {
            display: none;
        }

.content-area {
    overflow: auto;
    position: relative;
}