@using System.Collections.Specialized
@using ControlR.Libraries.DevicesCommon.Messages
@implements IDisposable
@inject IDeviceContentWindowStore WindowStore
@inject IMessenger Messenger

<div class="device-content-window-harness">
    @foreach (var instance in WindowStore.Windows)
    {
        <DeviceContentWindow @key=(instance.WindowId) ContentInstance="@(instance)" />
    }
</div>

@code {
    public void Dispose()
    {
        Messenger.UnregisterAll(this);
    }

    protected override void OnInitialized()
    {
        Messenger.RegisterGenericMessage(this, HandleGenericMessage);
        base.OnInitializedAsync();
    }

    private async void OnRemoteSessionsChanged(object? sender, NotifyCollectionChangedEventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleGenericMessage(object subscriber, GenericMessageKind messageKind)
    {
        if (messageKind == GenericMessageKind.DeviceContentWindowsChanged)
        {
            await InvokeAsync(StateHasChanged);
        }
    }
}
