<div class="mb-3">
    <MudAlert Severity="Severity.Info">
        No devices found.  Head over to the <MudLink Href="/deploy">Deploy Page</MudLink>
        to install an agent!
    </MudAlert>
</div>

@code {

}
