@inherits DisposableComponent

<div class="d-flex flex-column gap-3">
  <div>
    <MudTooltip Text="Show metrics overlay">
      <MudSwitch Value="RemoteControlState.IsMetricsEnabled"
                 ValueChanged="@((bool value) => HandleMetricsToggled(value))"
                 Color="Color.Secondary"
                 Label="Metrics"
                 ThumbIcon="@(Icons.Material.Filled.QueryStats)" />
    </MudTooltip>
  </div>

  @if (IsWindows)
  {
    <div>
      <MudTooltip Text="Use DirectX capture for better performance">
        <MudSwitch T="bool" 
                   Value="RemoteControlState.EnableDirectX"
                   ValueChanged="@(HandleDirectXChanged)"
                   Color="Color.Secondary"
                   Label="DirectX"
                   ThumbIcon="@Icons.Material.Filled.Dashboard" />
      </MudTooltip>
    </div>
  }
</div>
