@inherits DisposableComponent

<div class="d-flex flex-column gap-3">
  <div>
    <MudTooltip Text="Show metrics overlay">
      <MudSwitch Value="RemoteControlState.IsMetricsEnabled"
                 ValueChanged="@((bool value) => HandleMetricsToggled(value))"
                 Color="Color.Secondary"
                 Label="Metrics"
                 ThumbIcon="@(Icons.Material.Filled.QueryStats)" />
    </MudTooltip>
  </div>


</div>
