.screen-area {
    overflow: auto;
    position: relative;
    height: 100% !important;
}

/* apply overscroll-behavior only when supported (avoids issues on Safari iOS <16) */
@supports (overscroll-behavior: contain) {
    .screen-area {
        overscroll-behavior: contain;
    }
}

@supports (scrollbar-color: auto) {
    .screen-area {
        scrollbar-color: auto;
        scrollbar-width: auto;
    }
}

.display-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.action-bar {
    display: flex;
    background-color: var(--mud-palette-overlay-light);
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    gap: 10px;
}

.remote-screen {
    position: absolute;
    touch-action: pan-x pan-y;
    object-fit: fill;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

.remote-screen.fit {
    max-width: 100% !important;
    max-height: 100% !important;
    width: unset !important;
    height: unset !important;
}

.remote-screen.stretch {
    width: 100% !important;
    height: 100% !important;
}

.virtual-keyboard {
    position: absolute;
    opacity: 0;
    left: -10000px;
    top: -10000px;
    z-index: -1;
}
