.display-layout-container {
  position: relative;
  width: 280px;
  height: 140px;
  background-color: var(--mud-palette-background-grey);
  border-radius: 4px;
  border: 1px solid var(--mud-palette-divider);
}

.display-layout-item {
  position: absolute;
  background-color: var(--mud-palette-primary);
  border: 2px solid var(--mud-palette-primary-darken);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  opacity: 0.7;
}

.display-layout-item:hover {
  opacity: 0.9;
  transform: scale(1.05);
  z-index: 10;
}

.display-layout-item.selected {
  opacity: 1;
  border-color: var(--mud-palette-success);
  border-width: 3px;
  
}

.display-index {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  user-select: none;
}
