@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<MudText Typo="Typo.h3" GutterBottom>
  Reset password confirmation
</MudText>

<MudText Typo="Typo.h5" GutterBottom Class="mt-2">
  Your password has been reset. Please <a class="mud-link mud-primary-text mud-link-underline-hover" href="Account/Login">click here to log in</a>.
</MudText>