@using System.Collections.Specialized
@implements IDisposable
@inject IAppState AppState
@inject IMessenger Messenger

<div class="device-content-window-harness">
    @foreach (var instance in AppState.DeviceContentWindows)
    {
        <DeviceContentWindow ContentInstance="@(instance)" />
    }
</div>

@code {
    public void Dispose()
    {
        AppState.DeviceContentWindows.CollectionChanged -= OnRemoteSessionsChanged;
    }

    protected override void OnInitialized()
    {
        AppState.DeviceContentWindows.CollectionChanged += OnRemoteSessionsChanged;
        base.OnInitializedAsync();
    }

    private async void OnRemoteSessionsChanged(object? sender, NotifyCollectionChangedEventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }
}
