<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{SERVICE_NAME}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{INSTALLER_PATH}}</string>
        <string>install</string>
        <string>--server-uri</string>
        <string>{{SERVER_URI}}</string>
        <string>--tenant-id</string>
        <string>{{TENANT_ID}}</string>
        <string>--instance-id</string>
        <string>{{INSTANCE_ID}}</string>
    </array>
</dict>
</plist>
