.child-content-grid {
    display: inline-grid;
    grid-template-columns: min-content auto;
    text-align: left;
    column-gap: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

  ::deep .child-content-grid > :nth-child(odd) {
    white-space: nowrap !important;
  }

.top-controls-grid {
    display: grid;
    grid-template-columns: minmax(min-content, 400px);
}