@inject IControlrApi ServerSettingsApi
<div class="mt-8 text-center">
  <MudText Typo="Typo.h3" Class="mb-8">
    Welcome to ControlR
  </MudText>
  <div class="mb-4">
    <MudButton Color="Color.Primary" Size="Size.Large" Href="/Account/Login" Variant="Variant.Outlined">
      Login
    </MudButton>
  </div>
  @if (_isPublicRegistrationEnabled)
  {
    <div>
      <MudButton Color="Color.Default" Size="Size.Large" Href="/Account/Register" Variant="Variant.Outlined">
        Register
      </MudButton>
    </div>
  }
</div>

@code {
  private bool _isPublicRegistrationEnabled;

  protected override async Task OnInitializedAsync()
  {
    var settingsResults = await ServerSettingsApi.GetPublicRegistrationSettings();
    if (settingsResults.IsSuccess)
    {
      _isPublicRegistrationEnabled = settingsResults.Value.IsPublicRegistrationEnabled;
    }
  }
}