<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<PublishDir>bin\publish\msix\</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<Platform>Any CPU</Platform>
		<Configuration>Release</Configuration>
		<TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
		<PackageCertificateThumbprint>F3A7944D7AC81725AE01DD307551866574A6BE70</PackageCertificateThumbprint>
		<PublishSingleFile>false</PublishSingleFile>
		<PublishReadyToRun>false</PublishReadyToRun>
		<SelfContained>True</SelfContained>
		<PublishAppxPackage>true</PublishAppxPackage>
		<AppxPackageDir>bin\publish\</AppxPackageDir>
		<PublisherName>Jared Goodwin</PublisherName>
	</PropertyGroup>
</Project>