<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<PublishDir>bin\publish\windows\store\out\</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<Platform>Any CPU</Platform>
		<PackageCertificateThumbprint>943BAD2AF0B28B86032B845B72B0209DBBBFF89B</PackageCertificateThumbprint>
		<Configuration>Release</Configuration>
		<TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
		<PublishSingleFile>false</PublishSingleFile>
		<PublishReadyToRun>false</PublishReadyToRun>
		<SelfContained>True</SelfContained>
		<PublishAppxPackage>true</PublishAppxPackage>
		<AppxPackageDir>bin\publish\windows\store\</AppxPackageDir>
		<PublisherName>Jared Goodwin</PublisherName>
		<GenerateAppInstallerFile>True</GenerateAppInstallerFile>
		<IsStoreBuild>True</IsStoreBuild>
	</PropertyGroup>
</Project>