.file-system-container {
  padding: 16px;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 16px;
}

.address-bar-container {
  display: flex;
  align-items: center;
}

.address-bar {
  font-family: monospace;
}

.file-system-grid-cell {
  overflow: auto;
}

@media (max-width: 768px) {
  .file-system-container {
    padding: 8px;
  }
}