@using ControlR.Web.Client.Components.Layout.DeviceAccess
@layout DeviceAccessLayout
@attribute [Route(ClientRoutes.DeviceAccess)]
@attribute [Authorize]

<div class="ma-4">
  @if (DeviceAccessState.IsDeviceLoaded)
  {
    <DeviceOverviewGrid Device="DeviceAccessState.CurrentDevice" />
  }
</div>