.child-content-grid {
  display: inline-grid;
  grid-template-columns: min-content auto;
  text-align: left;
  column-gap: 20px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

::deep .child-content-grid > :nth-child(odd) {
  white-space: nowrap !important;
}

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
  .child-content-grid {
    display: grid;
  }
}
