.session-card-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  min-width: 250px;
  align-items: center;
}

.downloading-message-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--mud-palette-overlay-dark);
}