[Unit]
Description=ControlR Desktop Client provides user session interface for remote control.
After=graphical-session.target

[Service]
WorkingDirectory={{INSTALL_DIRECTORY}}/DesktopClient
ExecStart={{INSTALL_DIRECTORY}}/DesktopClient/ControlR.DesktopClient{{INSTANCE_ARGS}}
Type=simple
Environment=DOTNET_ENVIRONMENT=Production
TimeoutStopSec=15
KillSignal=SIGTERM
KillMode=process
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
