name: Tests

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version number (leave empty for auto)"
        required: false
        type: string
  pull_request:
    branches: 
      - main
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - ".github/**"

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: pwsh

    steps:
      - name: Show Inputs
        run: |
          echo "Inputs: ${{ toJSON(github.event.inputs) }}"

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          clean: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "10.0.x"

      - name: Run Tests
        run: dotnet test -c Release
