<MudDialog>
  <TitleContent>
    <MudText Typo="Typo.h5" Color="Color.Primary">
      Desktop Preview - @Device.Name
    </MudText>
  </TitleContent>
  <DialogContent>
    <MudCard Elevation="0">
      <MudCardContent>
        @if (IsLoading)
        {
          <div class="text-center my-4">
            <MudProgressCircular Indeterminate Color="Color.Info" Size="Size.Medium" />
            <MudText Typo="Typo.body2" Class="mt-2">
              Loading preview...
            </MudText>
          </div>
        }
        else if (!string.IsNullOrEmpty(ErrorMessage))
        {
          <MudAlert Severity="Severity.Error" Class="mb-4">
            @ErrorMessage
          </MudAlert>
        }
        else if (!string.IsNullOrEmpty(PreviewImageDataUri))
        {
          <div class="preview-image-container">
            <img src="@PreviewImageDataUri" 
                 alt="Desktop Preview" 
                 class="preview-image" />
          </div>
        }
      </MudCardContent>
      <MudCardActions Class="justify-space-between">
        <MudButton ButtonType="ButtonType.Button"
                   Color="Color.Info"
                   OnClick="RefreshPreview"
                   Variant="Variant.Outlined"
                   Disabled="IsLoading"
                   StartIcon="@Icons.Material.Filled.Refresh">
          Refresh
        </MudButton>
        <MudButton ButtonType="ButtonType.Submit"
                   Color="Color.Default"
                   OnClick="Close"
                   Variant="Variant.Filled">
          Close
        </MudButton>
      </MudCardActions>
    </MudCard>
  </DialogContent>
</MudDialog>
